<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<br/>
<p><strong>Email:</strong></p> 
<p><%= @contact.email %></p>
<br/>
<p><strong>Note:</strong></p>
<p><%= @contact.note %></p>
<br/>
<p><strong>ID Number:</strong></p>
<p><%= @contact.id %></p>
<br/>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button" type="submit" name="Delete Contact" value="Delete">
</form>

<form action="/contacts/<%= @contact.id %>/edit">
    <input class="button" type="submit" name="Edit Contact" value="Edit">
</form>